In [135]:
# Imports
from gensim.models import Doc2Vec 
from gensim.models.doc2vec import TaggedDocument
import pandas as pd
from matplotlib.pyplot import scatter
# from sklearn.model_selection import LogisticRegression, KMeans

In [136]:
# Loading the model
# WARNING: Never try to print the represention of the model -> it will freeze due to its size
model = Doc2Vec.load("modelv2.doc2vec")

In [148]:
def repr_doc2vec():
    """
    Represensation of instances as a vector with n entries
    """
    print("single vector 9135 : ", model.dv[9135])
    print('--------------------------------------------------------------------------')
    # Access specific entry of a vector of an instance
    print("single feature of instance 9135 : ", model.dv[9135][0])
    print('--------------------------------------------------------------------------')
    # Access specific range of entries of a vector of an instance
    print("single vector with range 0:5: ", model.dv[9135][0:5])
    
    
repr_doc2vec()

single vector 9135 :  [ 1.8319963   1.1505353  -3.4081743  -0.01291251  1.3211681  -1.5950047
 -1.3689493  -0.14023764 -0.07008838 -0.0891121   0.23258176  0.398684
 -2.301461   -2.580961    1.3366268   0.47790968  0.11142973  1.3376327
  0.7543945  -0.8020419   0.37627035  0.79522365  1.3594257   0.7663587
 -1.7473387   1.0888212  -0.24012142 -0.07550723  1.2517235  -0.6578018
 -1.6791966  -1.1854218  -0.23102574  0.38129064 -1.8262206  -0.3300352
  0.8336582  -1.6949477   0.8026283  -0.53578633 -0.9894898   2.4559956
 -0.10852636  0.14643922  1.5223193  -1.4734929   0.4180732   0.8178581
 -0.05070999  2.389565  ]
--------------------------------------------------------------------------
single feature of instance 9135 :  1.8319963
--------------------------------------------------------------------------
single vector with range 0:5:  [ 1.8319963   1.1505353  -3.4081743  -0.01291251  1.3211681 ]

In [138]:
data = pd.read_json("training_90_string_balanced.json")

In [27]:
#pip install gensim
from gensim.models.doc2vec import TaggedDocument

taggedDocuments = []
total_words = float('inf')
count = 0
for index, data_point_post in data.iterrows():
    taggedDocument =  TaggedDocument(words=data.at[index, 'posts'], tags=[data.at[index, 'type'], count])
    taggedDocuments.append(taggedDocument)

    total_words = min(total_words, len(data.at[index, 'posts']))
    count += 1

In [201]:
# Fiddle around with the max amount of rows for the balanced dataset
print(len(data))
print(model.dv.get_vector(45757))
print(model.dv[45757])
data[45755:45756]

45756
[ 0.45690054  0.26458934 -0.23713087 -0.12316018  0.2885553  -0.023671
 -0.33356696 -0.79215264 -1.0315896  -0.06820995 -0.14695539  0.48810083
 -0.7553216  -1.1730775  -0.6645369   0.7810289  -0.9375236  -0.60362786
  0.27578995  0.6057347  -0.608776   -0.6840637  -1.6035137   0.8052764
 -0.3469157  -0.08088488 -0.7937079   0.2804102  -0.8700401  -1.3688815
 -0.12645572  1.5371248  -1.2700937  -0.01092219 -1.361118    0.89142054
  0.04837969 -0.7205475  -1.0175289  -0.23317873  0.6801873  -0.65509874
  1.4489573   0.3867074   0.82340425  0.88115853 -0.05870169 -0.28630581
 -0.01513727  0.6989025 ]
[ 0.45690054  0.26458934 -0.23713087 -0.12316018  0.2885553  -0.023671
 -0.33356696 -0.79215264 -1.0315896  -0.06820995 -0.14695539  0.48810083
 -0.7553216  -1.1730775  -0.6645369   0.7810289  -0.9375236  -0.60362786
  0.27578995  0.6057347  -0.608776   -0.6840637  -1.6035137   0.8052764
 -0.3469157  -0.08088488 -0.7937079   0.2804102  -0.8700401  -1.3688815
 -0.12645572  1.5371248  -1.2700937  -0.01092219 -1.361118    0.89142054
  0.04837969 -0.7205475  -1.0175289  -0.23317873  0.6801873  -0.65509874
  1.4489573   0.3867074   0.82340425  0.88115853 -0.05870169 -0.28630581
 -0.01513727  0.6989025 ]

                                                   posts type
55031  [ness, certainly, need, find, way, deal, perso...    E

In [194]:
# Create a new empty dataframe for the vector entries
data_features = pd.DataFrame()

In [195]:
# add columns (50 in total since each vector has 50 entries)
for i in range(0,50):
    print(i)
    data_features.insert(i, i, "Nan")

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49

In [196]:
# Display of the empty dataframe
data_features[0:1]

Empty DataFrame
Columns: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49]
Index: []

[0 rows x 50 columns]

In [202]:
# Adding rows with its corresponding entries
for i in range(0,45756):
    data_features.loc[i] = model.dv[i]

In [203]:
data_features

,0,1,2,3,4,5,6,7,8,9,...,40,41,42,43,44,45,46,47,48,49
0,0.645784,1.396180,-2.090629,1.040912,-0.217780,-0.193825,0.032312,0.090238,-2.906142,-1.114921,...,0.599553,-2.697368,0.679022,0.067629,-0.259445,-1.428118,0.415039,0.176637,0.675785,0.751148
1,-2.308511,0.750660,-0.790033,0.321570,2.689408,0.412055,-1.018750,1.750060,0.513417,1.154315,...,1.810440,1.871112,-0.931285,0.988753,-0.347083,0.711282,0.207819,-0.162516,-0.343480,0.002147
2,0.788430,-1.850151,1.390633,0.212640,-0.288602,0.985409,1.568837,-0.339110,-0.569530,-2.133678,...,0.389309,-0.163047,-1.296748,0.355234,1.334612,-0.176212,-1.990083,0.380347,0.040074,0.860454
3,0.187519,0.215905,0.030959,0.735831,1.406901,-0.468965,0.873843,-0.083506,1.167410,-0.266604,...,-0.755716,-1.089861,-0.954722,1.276000,-1.501943,-1.532043,-0.045885,-0.144797,-1.313688,1.278780
4,0.475871,1.496914,1.300613,-1.527289,-1.144968,0.003828,-1.055918,-0.043018,0.141627,0.975540,...,-1.495079,-0.962741,1.533132,-0.545056,0.776994,0.081964,-1.258481,0.257511,2.759261,0.878766
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45751,-0.525134,1.230650,-0.352869,0.854333,0.480091,0.133124,0.187925,1.007879,-0.510258,0.762823,...,-1.227325,-0.431906,-0.234206,1.891096,0.685077,-1.198604,-1.381390,0.910531,-0.238663,-0.452884
45752,-0.698082,0.785134,0.958745,-0.000581,0.642941,1.611503,-0.988335,-0.050043,0.247668,0.161012,...,0.613071,1.332317,2.034055,-0.475922,-0.315058,0.896226,1.106793,-2.286209,-0.232097,-1.605619
45753,2.645339,0.268796,0.243126,0.084633,-1.573816,-2.624374,1.384861,2.298640,0.062686,-0.276638,...,0.982248,-0.867902,1.743448,1.587969,-0.802363,-2.091110,1.896725,0.054571,-2.151376,0.477076
45754,-0.729427,-0.217195,2.361130,3.174230,-0.005403,1.017621,0.562648,-1.216897,-1.366559,0.423466,...,0.401657,-0.559658,-0.049995,0.647388,0.674963,-0.208288,-0.197030,-1.083172,-1.023206,1.003691
45755,-0.666181,-0.838021,0.100805,-0.489895,2.074106,1.241949,-1.736204,2.174611,-0.699602,-0.433436,...,0.724439,0.376958,-0.877653,2.396996,1.161770,0.103654,0.795267,1.505963,0.728339,-0.796942

In [204]:
data

                                                   posts type
25003  [use, type, thread, question, anything, may, a...    I
90605  [share, sfw, u, feel, like, engage, conversati...    I
38725  [possibility, enfold, little, reluctant, find,...    I
97429  [maybe, istj, go, watson, type, sidekick, some...    I
25353  [always, describe, treatment, feel, change, ag...    I
...                                                  ...  ...
65644  [lead, ti, stoic, easy, entp, constantly, use,...    E
56634  [relieve, stress, sit, front, class, matter, f...    E
63559  [great, purpose, life, make, touch, fi, let, u...    E
73068  [like, person, think, shit, super, smart, clea...    E
55031  [ness, certainly, need, find, way, deal, perso...    E

[45756 rows x 2 columns]

In [207]:
# Reseting indexing from 0
data_test = data.reset_index()
display(data_test)

       index                                              posts type
0      25003  [use, type, thread, question, anything, may, a...    I
1      90605  [share, sfw, u, feel, like, engage, conversati...    I
2      38725  [possibility, enfold, little, reluctant, find,...    I
3      97429  [maybe, istj, go, watson, type, sidekick, some...    I
4      25353  [always, describe, treatment, feel, change, ag...    I
...      ...                                                ...  ...
45751  65644  [lead, ti, stoic, easy, entp, constantly, use,...    E
45752  56634  [relieve, stress, sit, front, class, matter, f...    E
45753  63559  [great, purpose, life, make, touch, fi, let, u...    E
45754  73068  [like, person, think, shit, super, smart, clea...    E
45755  55031  [ness, certainly, need, find, way, deal, perso...    E

[45756 rows x 3 columns]

In [208]:
# Concatenating both dataframes as one
data_new = pd.concat([data_test, data_features], axis=1)
display(data_new)

,index,posts,type,0,1,2,3,4,5,6,...,40,41,42,43,44,45,46,47,48,49
0,25003,"[use, type, thread, question, anything, may, a...",I,0.645784,1.396180,-2.090629,1.040912,-0.217780,-0.193825,0.032312,...,0.599553,-2.697368,0.679022,0.067629,-0.259445,-1.428118,0.415039,0.176637,0.675785,0.751148
1,90605,"[share, sfw, u, feel, like, engage, conversati...",I,-2.308511,0.750660,-0.790033,0.321570,2.689408,0.412055,-1.018750,...,1.810440,1.871112,-0.931285,0.988753,-0.347083,0.711282,0.207819,-0.162516,-0.343480,0.002147
2,38725,"[possibility, enfold, little, reluctant, find,...",I,0.788430,-1.850151,1.390633,0.212640,-0.288602,0.985409,1.568837,...,0.389309,-0.163047,-1.296748,0.355234,1.334612,-0.176212,-1.990083,0.380347,0.040074,0.860454
3,97429,"[maybe, istj, go, watson, type, sidekick, some...",I,0.187519,0.215905,0.030959,0.735831,1.406901,-0.468965,0.873843,...,-0.755716,-1.089861,-0.954722,1.276000,-1.501943,-1.532043,-0.045885,-0.144797,-1.313688,1.278780
4,25353,"[always, describe, treatment, feel, change, ag...",I,0.475871,1.496914,1.300613,-1.527289,-1.144968,0.003828,-1.055918,...,-1.495079,-0.962741,1.533132,-0.545056,0.776994,0.081964,-1.258481,0.257511,2.759261,0.878766
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45751,65644,"[lead, ti, stoic, easy, entp, constantly, use,...",E,-0.525134,1.230650,-0.352869,0.854333,0.480091,0.133124,0.187925,...,-1.227325,-0.431906,-0.234206,1.891096,0.685077,-1.198604,-1.381390,0.910531,-0.238663,-0.452884
45752,56634,"[relieve, stress, sit, front, class, matter, f...",E,-0.698082,0.785134,0.958745,-0.000581,0.642941,1.611503,-0.988335,...,0.613071,1.332317,2.034055,-0.475922,-0.315058,0.896226,1.106793,-2.286209,-0.232097,-1.605619
45753,63559,"[great, purpose, life, make, touch, fi, let, u...",E,2.645339,0.268796,0.243126,0.084633,-1.573816,-2.624374,1.384861,...,0.982248,-0.867902,1.743448,1.587969,-0.802363,-2.091110,1.896725,0.054571,-2.151376,0.477076
45754,73068,"[like, person, think, shit, super, smart, clea...",E,-0.729427,-0.217195,2.361130,3.174230,-0.005403,1.017621,0.562648,...,0.401657,-0.559658,-0.049995,0.647388,0.674963,-0.208288,-0.197030,-1.083172,-1.023206,1.003691
45755,55031,"[ness, certainly, need, find, way, deal, perso...",E,-0.666181,-0.838021,0.100805,-0.489895,2.074106,1.241949,-1.736204,...,0.724439,0.376958,-0.877653,2.396996,1.161770,0.103654,0.795267,1.505963,0.728339,-0.796942

In [210]:
# Conversion to json and csv
data_new.to_json("training_vectorized.json")
data_new.to_csv("training_vectorized.csv")